# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
bin db dbd lib restore archive RELEASE_SITE
include
archive
autosave

/bin/
/lib/
/db/
/dbd/
/html/
/include/
/templates/
O.*
*.log

RELEASE_SITE
